body {
  background-color: lightgray;
}

button {
  margin: 0 275px 0 275px;
}

.epicodus {
  display: none;
}

h1 {
  text-align: center;
}

.portland {
  display: none;
}

.seattle {
  display: none;
}
.error {
  display: none;
  color: red;
}

img {
  height: 300px;
  width: 450px;
}

.results {
  display: none;
}

#notComplete {
  color: red;
}
